nav.navbar.navbar-fixed-top.affix-top
  div.container
    // Collect the nav links, forms, and other content for toggling
    div.collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.nav-justified
        each navbar in navbars
          li.nav__item: a.nav__link.page-scroll(href=navbar.link): span.nav__text= navbar.name
    //Brand and toggle get grouped for better mobile display
    div.navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo(href='/')
        img.img-responsive.logo__img(src='img/logo/logo.png' alt='Авто Лекарь')
    .hidden-xs.phone
      a.phone__link(href='tel:+79780794857') +7 (978) 079-48-57
      button.btn.btn--phone(data-toggle="modal", data-target="#callback", data-backdrop="static") Мы перезвоним
    .hidden-xs.info
      .info__text
        | Часы работы: пн.-сб. 09.00-19.00
      .info__text
        | г. Севастополь Фиолентовское шоссе 6
      .info__text
        | Авторынок Стрелецкий