- var title = 'Главная страница'

//- Navbar
- var navbars = [ {name: 'Главная', link: '#'}, {name: 'Цены', link: '#product'}, {name: 'Города доставки', link: '#search'}, {name: 'Отзывы', link: '#review'}, {name: 'Наша команда', link: '#team'}, {name: 'Наши контакты', link: '#footer'} ]

//- Phone
- var phone = [{name: '+7 (978) 079-48-57', link: '+79780794857'}]