section.benefit
  .container
    .row
      .col-xs-12
        h2.heading Покупать у нас удобно
    .row
      .col-xs-12.col-sm-4.benefit__box
        .benefit__item
          .benefit__photo
            i.ic.ic--benefit1.benefit__icon
          .benefit__name
            | Мы ведем базу клиентов.
          .benefit__descr
            | Обратившись к нам один раз, мы заполняем карточку клиента и впоследствии Вам не нужно повторять данные своего автомобиля
      .col-xs-12.col-sm-4.benefit__box
        .benefit__item
          .benefit__photo
            i.ic.ic--benefit2.benefit__icon
          .benefit__name
            | У нас оригинальные каталоги.
          .benefit__descr
            | Наши детали подходят в 99 покупках из 100
      .col-xs-12.col-sm-4.benefit__box
        .benefit__item
          .benefit__photo
            i.ic.ic--benefit3.benefit__icon
          .benefit__name
            | Предлагаем варианты.
          .benefit__descr
            | Мы предложим Вам до 5-ти вариантов запчастей разных ценовых категорий
      .col-xs-12.col-sm-4.benefit__box
        .benefit__item
          .benefit__photo
            i.ic.ic--benefit4.benefit__icon
          .benefit__name
            | Оплата наложенным платежом.
          .benefit__descr
            | Товар с нашего склада вы можете оплатить при получении.
      .col-xs-12.col-sm-4.benefit__box
        .benefit__item
          .benefit__photo
            i.ic.ic--benefit5.benefit__icon
          .benefit__name
            | Бесплатная доставка по Крыму.
          .benefit__descr
            | При заказе на сумму выше 1500 руб. доставим по Крыму бесплатно
      .col-xs-12.col-sm-4.benefit__box
        .benefit__item
          .benefit__photo
            i.ic.ic--benefit6.benefit__icon
          .benefit__name
            | Отправка в 20 городов Крыма.
          .benefit__descr
            | У нас 23 пункта выдачи в 20ти городах Крыма. Вы получите товар в течении одного-двух дней с момента заказа




