footer#footer.footer
  .container
    .row
      .col-xs-12
        a.logo.logo--footer(href='/')
            img.img-responsive.logo__img.footer__img(src='img/logo/logo.png' alt='Авто Лекарь')
        .phone
          a.phone__link(href='tel:+79780794857') +7&nbsp;(978)&nbsp;079-48-57
          button.btn.btn--phone(data-toggle="modal", data-target="#callback", data-backdrop="static") Мы перезвоним
        .info.info--footer
          .info__text.
            ИНН: 245608952275&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;ОГРНИП: 312245919500018
          .info__text.
            Р/С 40802810731150002573&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Восточно-Сибирский банк Сбербанка РФ
          .info__text.
            КОР/С. 301018108000000000627&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;БИК 040407627