#callback.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true') ×
      form.contactForm.form.form--modal(name='Форма №3', method='post', action='./mail/mail.php', novalidate)
        .row
          .col-xs-12
            .form__heading.form__heading--inverse.
              Напишите вопрос и телефон и мы ответим Вам в течении 20ти минут!
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0
            .form-group.form__item
              input.form-control.form__input.form__input--name(name='name', type='text', placeholder='Введите ваше имя', data-validation-required-message='Введите корректные данные.', required)
              p.help-block.text-danger
              p.form__info
                | Как к вам обращаться?
          .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0
            .form-group.form__item
              input.form-control.form__input.form__input--phone(name='phone', type='tel', placeholder='Введите ваш телефон', data-validation-required-message='Введите корректные данные.', required)
              p.help-block.text-danger
              p.form__info
                | Наш менеджер свяжется с Вами в течении 15-ти мин.
          .clearfix
          .col-xs-12
            .success
          .col-md-6.col-md-offset-3.text-center
            button.btn.btn--search(type='submit', data-loading-text="Файл отправляется...") Узнать цену