section#product.product
  .container.product__container
    .row
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product1.jpg', alt='Ремень ГРМ')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Ремень ГРМ
          .product__price
            | от 840 руб.
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product2.jpg', alt='Ремени приводные')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Ремени приводные
          .product__price
            | от 230 руб.
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product3.jpg', alt='Сальники')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Сальники
          .product__price
            | от 120 руб. 
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product4.jpg', alt='Диски тормозные')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Диски тормозные
          .product__price
            | от 780 руб.
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product5.jpg', alt='Рычаг подвески')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Рычаг подвески
          .product__price
            | от 1 730 руб.
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product6.jpg', alt='Набор сцепления')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Набор сцепления
          .product__price
            | от 1 640 руб.
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product7.jpg', alt='Колодки тормозные')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Колодки тормозные
          .product__price
            | от 600 руб. за комплект
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product8.jpg', alt='Стойки амортизатора')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Стойки амортизатора
          .product__price
            | от 960 руб.
      .col-xs-12.col-sm-3.col-md-3.col-lg-2
        .product__item
          .product__photo
            a.product__link.page-scroll(href='#search')
              img.img-responsive.product__img(src='img/product9.jpg', alt='Сайтлентблоки')
          .product__name
            a.product__link.page-scroll(href='#search')
              | Сайтлентблоки
          .product__price
            | от 270 руб.
      i.ic.ic--car-black



