section#review.review
  .container.review__container
    .row
      .col-xs-12
        h2.heading Отзывы наших довольных клиентов
    .row
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .review__item
          .review__photo
            img.img-responsive.review__img(src='img/review1.jpg', alt='Вал промежуточный Febest на Mazda 626')
          .review__name
            | Вал промежуточный Febest на Mazda 626
          .review__text
            | Юрий, г. Симферополь.
          a.review__link(href='#') Прослушать отзыв
          .review__player.player
            audio(preload='auto', controls)
              source(src='audio/Вал внутренний 28230.mp3')
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .review__item
          .review__photo
            img.img-responsive.review__img(src='img/review2.jpg', alt='Амортизаторы MONROE на Mazda 3')
          .review__name
            | Амортизаторы MONROE на Mazda 3
          .review__text
            | Василий, г. Севастополь.
          a.review__link(href='#') Прослушать отзыв
          .review__player.player
            audio(preload='auto', controls)
              source(src='audio/Амортиз 90993.mp3')
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .review__item
          .review__photo
            img.img-responsive.review__img(src='img/review3.jpg', alt='Стеклоподъемник на RENAULT Megane')
          .review__name
            | Стеклоподъемник на RENAULT Megane
          .review__text
            | Эдем, г. Симферополь.
          a.review__link(href='#') Прослушать отзыв
          .review__player.player
            audio(preload='auto', controls)
              source(src='audio/Аморты 50480.mp3')
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .review__item
          .review__photo
            img.img-responsive.review__img(src='img/review4.jpg', alt='Колодки ATE на KIA Sportage')
          .review__name
            | Колодки ATE на KIA Sportage
          .review__text
            | Владимир, г. Севастополь.
          a.review__link(href='#') Прослушать отзыв
          .review__player.player
            audio(preload='auto', controls)
              source(src='audio/ГРМ помпа 58306.mp3')
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .review__item
          .review__photo
            img.img-responsive.review__img(src='img/review5.jpg', alt='Амортизаторы MONROE на Mazda 3')
          .review__name
            | Амортизаторы MONROE на Mazda 3
          .review__text
            | Василий, г. Севастополь.
          a.review__link(href='#') Прослушать отзыв
          .review__player.player
            audio(preload='auto', controls)
              source(src='audio/колодки  359680.mp3')
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .review__item
          .review__photo
            img.img-responsive.review__img(src='img/review6.jpg', alt='Вал промежуточный Febest на Mazda 626')
          .review__name
            | Вал промежуточный Febest на Mazda 626
          .review__text
            | Юрий, г. Симферополь.
          a.review__link(href='#') Прослушать отзыв
          .review__player.player
            audio(preload='auto', controls)
              source(src='audio/стеклоподъемник 25270.mp3')
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .review__item
          .review__photo
            img.img-responsive.review__img(src='img/review7.jpg', alt='Колодки ATE на KIA Sportage')
          .review__name
            | Колодки ATE на KIA Sportage
          .review__text
            | Владимир, г. Севастополь.
          a.review__link(href='#') Прослушать отзыв
          .review__player.player
            audio(preload='auto', controls)
              source(src='audio/Колодки 11805.mp3')
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .review__item
          .review__photo
            img.img-responsive.review__img(src='img/review8.jpg', alt='Стеклоподъемник на RENAULT Megane')
          .review__name
            | Стеклоподъемник на RENAULT Megane
          .review__text
            | Эдем, г. Симферополь.
          a.review__link(href='#') Прослушать отзыв
          .review__player.player
            audio(preload='auto', controls)
              source(src='audio/Лямда-зонд 7811.mp3')
      i.ic.ic--review.review__icon



