section#team.team
  .container
    .row
      .col-xs-12
        h2.heading Наша команда
    #carousel.carousel
      .col-xs-12.col-sm-3
        .carousel__item.person
          .person__photo
            img.person__img(src='img/team1.jpg', alt='Дмитрий')
          .person__name
            | Дмитрий
          .person__position
            | Директор
      .col-xs-12.col-sm-3
        .carousel__item.person
          .person__photo
            img.person__img(src='img/team2.jpg', alt='Глеб')
          .person__name
            | Глеб 
            a.person__phone(href='tel:+79780794857') +7(978)079-4857
          .person__position
            | Руководитель отдела продаж
      .col-xs-12.col-sm-3
        .carousel__item.person
          .person__photo
            img.person__img(src='img/team3.jpg', alt='Cаша')
          .person__name
            | Cаша 
            a.person__phone(href='tel:+79782296828') +7(978)229-6828
          .person__position
            | Менеджеры по продажам
      .col-xs-12.col-sm-3
        .carousel__item.person
          .person__photo
            img.person__img(src='img/team4.jpg', alt='Алексей')
          .person__name
            | Алексей 
            a.person__phone(href='tel:+79782296818') +7(978)229-6818
          .person__position
            | Менеджеры по продажам
      .col-xs-12.col-sm-3
        .carousel__item.person
          .person__photo
            img.person__img(src='img/team5.jpg', alt='Cаша')
          .person__name
            | Cаша 
            a.person__phone(href='tel:+79788843866') +7(978)884-3866
          .person__position
            | Менеджеры по продажам
      .col-xs-12.col-sm-3
        .carousel__item.person
          .person__photo
            img.person__img(src='img/team6.jpg', alt='Cаша')
          .person__name
            | Саша 
            a.person__phone(href='tel:+79782296825') +7(978)229-6825
          .person__position
            | Служба логистики
    .row
      .col-xs-12
        .notification
          | Если у вас есть вопросы по качеству обслуживания, звоните лично мне 
          a.notification__phone(href='tel:+79135906701') +7-913-590-67-01
          |  Дмитрий